<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">
                <p>At HMW we specialise in decorative screens to perform an array of functions, from privacy screening for the gates to decorative screens as a feature item. </p>
                <p>
Our metal screens are laser cut in either Mild steel(MS), stainless steel(SS), aluminium or brass and finished in a variety of powder coat colours or one of our custom finishes like polyurethane paints, hot dip galvanising etc. these decorative screens can form feature walls or facades that are suitable for both indoor and outdoor application.
                </p> <p>
our gates and grills are welded sing TIG/MIG welding and other advanced welding techniques
                </p><p>
Complementary products can also be designed for improved street presence; custom house numbers, entry gates and front doors.
                </p>
                <p>
Contact our HMW designers to discuss a consultation for your custom designs now</p>
                <a href="#contact" class="btn btn-default btn-xl">Contact</a>
            </div>
        </div>
    </div>
</section>
