<section id="gallery">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Gallery</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div id='slideshowHolder' style="width:800px; margin:0 auto;">
            <img src='img/gallery/cnc 1.jpg' alt='img1' />
            <img src='img/gallery/grill 2.jpg' alt='img2' />
            <img src='img/gallery/laser 3.jpg' alt='img3' />
            <img src='img/gallery/cutting chennai 4.jpg' alt='img4' />
        </div>
    </div>
</section>
