<section id="gallery">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Gallery</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div id='slideshowHolder' style="width:800px; margin:0 auto;">
            <img src='img/gallery/cnc.jpg' alt='img1' />
            <img src='img/gallery/decorativegrill.jpg' alt='img2' />
            <img src='img/gallery/hmworks.jpg' alt='img3' />
            <img src='img/gallery/cutting.jpg' alt='img4' />
            <img src='img/gallery/metalpartition.jpg' alt='img5' />
            <img src='img/gallery/metalcnc.jpg' alt='img6' />
            <img src='img/gallery/laser.jpg' alt='img7' />
            <img src='img/gallery/woodengrill.jpg' alt='img8' />
            <img src='img/gallery/wicketgate.jpg' alt='img9' />
        </div>
    </div>
</section>
