<section class="bg-primary1" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">
                <p>At HMW we specialise in decorative screens to perform an array of functions, from privacy screening for the gates to decorative screens as a feature item. </p>
                <p>
Our metal screens are laser cut in either Mild steel(MS), stainless steel(SS), aluminium or brass and finished in a variety of powder coat colours or one of our custom finishes like polyurethane paints, hot dip galvanising etc. these decorative screens can form feature walls or facades that are suitable for both indoor and outdoor application.
                </p> <p>
our gates and grills are welded using TIG/MIG welding and other advanced welding techniques
                </p><p>
Complementary products can also be designed for improved street presence; custom house numbers, entry gates and front doors.
                </p>
                <p>
Our work includes - laser cut grills, Window grills, Balcony handrails, Stair handrails, Metal Stencils, Painting stencils, Acrylic laser cutting,
acrylic dealer in kundrathur, Metal bases for lights, Plywood laser cutting, Laser cutting job work, Cnc bending, Tube laser cutting, Metal etching, Name plates in metal,
Slotting in tubes, acrylic bending, Decorative grills, Laser cut grills, laser engraving, metal engraving, metal marking, mild steel ladder, stainless steel kitchen equipments
elevation art, door decoration, heavy drilling, wall hangings , tube laser cutting ,raycus cutting ,ipg laser source.     
                </p>    
                <p>
Contact our HMW designers to discuss a consultation for your custom designs now</p>
                <a href="#contact" class="btn btn-primary btn-xl">Contact</a>
            </div>
        </div>
    </div>
</section>
